<h2>All Measurement Entries</h2>
<% @measurement_entries.each do |measurement_entry| %>
    <% if authorized_to_edit?(measurement_entry) %>
        <h4><a class="link" href="/measurement_entries/<%= measurement_entry.id %>"><%= measurement_entry.created_at.strftime("%A, %B %e, %Y") %></a></h4>
        <p>By <%= measurement_entry.user.name %></p> 
        <br><br>
    <% end %>
<% end %>




