<h2>Create a new Entry: </h2>

<form class="" action="/measurement_entries" method="post">
    <label for="content">Weight:</label>
    <input type="text" name="content" value=""><br>
    <input type="submit" name="" value="Create Entry">
</form>