<h2>Create a new Entry: </h2>

<form class="" action="/measurement_entries" method="post">
    <label for="content">Weight(lbs):</label>
    <input type="text" name="content" value=""><br>
    <label for="content">Waist(in):</label>
    <input type="text" name="content" value=""><br>
    <label for="content">Hips(input):</label>
    <input type="text" name="content" value=""><br>
    <label for="content">Right Thigh(in):</label>
    <input type="text" name="content" value=""><br>
    <label for="content">Left Thight(in):</label>
    <input type="text" name="content" value=""><br>
    <label for="content">Right Arm(in):</label>
    <input type="text" name="content" value=""><br>
    <label for="content">Left Arm(in):</label>
    <input type="text" name="content" value=""><br>
    <input type="submit" name="" value="Create Entry">
</form>