<h2>Create a new Entry: </h2>

<form class="" action="/measurement_entries" method="post">
    <label for="weight">Weight(lbs):</label>
    <input type="text" placeholder="Weight" id="weight" name="weight" required><br>
    <label for="waist">Waist(in):</label>
    <input type="text" placeholder="Waist" name="waist" required><br>
    <label for="hips">Hips(in):</label>
    <input type="text" placeholder="Hips" name="hips" required><br>
    <label for="right_arm">Right Arm(in):</label>
    <input type="text" placeholder="Right Arm" name="right_arm" required><br>
    <label for="left_arm">Left Arm(in):</label>
    <input type="text" placeholder="Left Arm" name="left_arm" required><br>
    <label for="right_thigh">Right Thigh(in):</label>
    <input type="text" placeholder="Right Thigh" name="right_thigh" required><br>
    <label for="left_thigh">Left Thigh(in):</label>
    <input type="text" placeholder="Left Thigh" name="left_thigh" required><br>
    
    <input type="submit" name="" value="Create Entry">
</form>